<a href="https://colab.research.google.com/github/jonguk130/dl23/blob/main/6.14%EC%9D%BC%20%EC%B4%9D%20%EC%A0%95%EB%A6%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#@TTS적는법
%%capture
!pip install gTTS
from gtts import gTTS
from IPython.display import Audio

def tts(text):
  gtts_object = gTTS(text,lang = "en", slow = True)
  gtts_object.save("myaudio.mp3")
  return Audio("myaudio.mp3")

In [2]:
# [2] Try it yourself
tts('Hello students')

#2강

In [4]:
x = 10
y = "Hello, class!"
z = [1, 2, 3]

In [5]:
x1 = x * 10
x2 = x + 5

print(x1, x2)

100 15

In [6]:
y1 = y + "Welcome to the class."
z1 = z + [3,2,1]

print(y1, z1)

Hello, class!Welcome to the class. [1, 2, 3, 3, 2, 1]

#사칙연산

In [8]:
x = 2; y = 5

a1 = x + y
a2 = x - y
a3 = x * y
a4 = x / y
a5 = x ** y

In [9]:
print(a1, a2, a3, a4, a5)

7 -3 10 0.4 32

# 사칙연산 코드를 쓰기위한 기본적으로 깔것

In [11]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

In [16]:
# Test

add(2,3)
subtract(3,2)
multiply(2,3)
divide(3,2)

1.5

# 3강 int str의 차이 ''사이에 들어가면 str

In [17]:
# DIY
x = 1
y = 3
z = x + y
print(z)

x1 = "1"
y1 = "3"
z1 = x1 + y1
print(z1)

4
13

In [18]:
type(z)

int

In [19]:
type(z1)

str

In [25]:
a = ['1', 'Mary','4', "John"]  # This is a list.
print(type(a))
# a+a

<class 'list'>

In [26]:
a[0]
type(a[0])
type(a[1])
a[0] + a[2]
a[0] + a[1] # int + str = error

'1Mary'

# 4강 input, random

In [30]:
import random #(이걸 사용해줘야 random.randint이 돌아가나봄)

In [29]:
random.randint(1, 10) #random.randint(x,y)는 함수이므로 문법대로 사용해야 함.

10

In [31]:
a2 = "Welcome"
a3 = "2023"

In [34]:
a2+','+ a3+'!'

'Welcome,2023!'

In [36]:
a4= '화이팅!'
a4*10 #str을 10번 곱하면 이렇게 반복됨 즉 숫자도 ''안에 넣는다면 str이 됨

'화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!'

# range는 그 범위를 설정 맨 뒤에꺼 제외, list는 그것을 정열해주는것

In [38]:
# range(x,y)
x3 = range(1,10)
list(x3)  #list(), range(1,10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
x4 = "John"
list(x4) #str을 list화 시키면 이렇게 자동으로 나열해

['J', 'o', 'h', 'n']

각각의 단어는 :로 뜻을 설명해주고 다른 단어와는  , 로 나뉨

In [40]:
mydict = {"API":"Application Programming Interface", "GPT":"Generative Pretrained Transformer"} #{}를 쓴다는게 중요
mydict['API']

'Application Programming Interface'

In [41]:
class_size = {"Class A": 25, "Class B": 30, "Class C": 32}
class_size['Class C']

32

In [54]:
yournumber = input(4)  # input()은 쓰게끔 만드는 거. 안에다가 아무거 넣어도 됨 글자를 넣을땐'' 사이에 넣
yournumber

4ㅇ

'ㅇ'

In [43]:
yournumber = int(yournumber) # str을 int로 바꾸는 과정 그 반대는 불가능 int str으로 바꾸러면 '' 사이에 넣기
type(yournumber)

int

In [49]:
# print() 함수는 그것을 표현시켜줌 원래는 맨 마지막꺼만 보이는데 이거는 다 보여줌
print("대한민국")

a2 = "화이팅!"  # a1: variable(변수)
print(a2)
print(a2*10)
print("화이팅 10번 합시다: ", a2*10)
a2

대한민국
화이팅!
화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!
화이팅 10번 합시다:  화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!화이팅!

'화이팅!'

# 입력하는건 str이기에 int로 바꿔주는 밑에 과정이 필요함

In [98]:
day = input('How many days?'+'    ')
day = int(day)
hours = 24*day
print("The total hours passed since Mary met John are: ", hours, "hours.")

How many days?    25
The total hours passed since Mary met John are:  600 hours.

# .strip(공백 없애줌)

In [63]:
w1 = " Mary is friendly. "
w1
w1.strip()

'Mary is friendly.'

# .split는 나눠주기

In [65]:
w1 = "Mary is friendly."
print(w1.split())
w2 = "out-of-date"
w2.split('-')

['Mary', 'is', 'friendly.']

['out', 'of', 'date']

In [70]:
w1 = "Mary"
w2 = "is"
w3 = "friendly"
wordlist = [w1, w2, w3]
wordlist #굳이 wordlist라 안하고 a라고 해도 가능 a[0] 하면 mary가 나옴

['Mary', 'is', 'friendly']

.join()는 합치기

In [72]:
print(' '.join(wordlist))
print('-'.join(wordlist))
print(' '.join(wordlist))

Mary is friendly
Mary-is-friendly
Mary is friendly

.lower()   .upper() 는 소문자 대문자 len()는 길이

In [181]:
w = "mary"
ini = w.upper()
print(ini)
a= 'JOHN'
b= a.lower()
b

MARY

'john'

In [74]:
print(len(w1)) #number of string W1는 mary이다.
w1[0] #1st string 이런것도 가능 Mary의 첫글자인 M

4

'M'

In [76]:
print(w1[-1]) # -1은 뒤에서부터
print(w1[0:])  # 0:는 0부터 끝까지
w1[1:3]

y
Mary

'ar'

# 복합응용

In [176]:
w = "mary"
ini = w.upper()
ini

'MARY'

In [77]:
w = "mary"
ini = w[0].upper() # m만 대문자화 시키는 과정
ini
w = ini + w[1:]
print(w)

Mary

In [96]:
w = "Mary is friendly."
a=w.split()
w1=a[0]
w2=a[1]
w3=a[2]
x=w2[0].upper()+w2[1:]
s= x+" "+w1+" "+w3
s1= s[:-1] # , 마침표를 없애는 과정
s2=s1+"?"
print(s2)

Is Mary friendly?

#For loops,  append(괄호 붙이기)

In [102]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5]

#list를 축약시켜서 좀 더 단순하게 연산하는법
for i in numbers:
    # Print the square of each number
    print(i ** 2)

1
4
9
16
25

In [91]:
numbers = [1,2,3,4,5]
a = []  #[] append와 같이 쓰려면 [] 가능한듯 하나의 형태인듯하다.

for i in numbers:
  s = i ** 2
  a.append(s) #이게 중요 이 함수를 꼭 써줘야

print(a)

[1, 4, 9, 16, 25]

In [103]:

num_names = input("How many names? ")
num_names = int(num_names)

attendance = []

for i in range(0, num_names):
  name = input()
  attendance.append(name)

print(attendance)

How many names? 2
mary
jame
['mary', 'jame']

# for 변수 i range 응

In [119]:
# Set the starting number for the countdown
sn = 10

# Use a for loop to iterate through the countdown
for i in range(sn,0, -1): # range함수는 순차적으로 올라가는거라서 역순을 표기할 수 없기때문에 for loops 함수를 사용하는 것 sn 위치가 시작값 0 이
# 끝값 -1은 거꾸로   올라가고 싶으면 0,sn,1 하면됨

    # Print the current countdown number
    print(i)

# Print the final message after the countdown
print("Blast off!")

10
9
8
7
6
5
4
3
2
1
Blast off!

In [126]:
start_number = 17

for i in range(17,100,2):
 print(i)

#17부터 시작하는 홀수로 되는걸 만들어라

17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [153]:
# DIY how to get a list with numbers 1*1, 2*4, 3*9, 4*16, 5*25 from the above
result_list = []

for num in range(1, 9):
    multiplied = num * (num ** 2)
    result_list.append(multiplied)

print(result_list)

[1, 8, 27, 64, 125, 216, 343, 512]

# while loops

In [154]:
counter = 1

while counter <= 7:  # <= 이건 연산자로써 7보다 작을때 출력되고 7되면 끝
    print(counter)
    counter = counter + 1  # while 함수 안에 들어있어야 조건문이 완성됨
#counter= counter +1 이렇게 적는다면 1밖에 증가안함

1
2
3
4
5
6
7

In [155]:
countdown = 10  # 역순

while countdown > 0: # 0보다 작을때까지 출력되고 0되면
    print(countdown)
    countdown = countdown - 1  # countdown -= -1
print("Done!")

10
9
8
7
6
5
4
3
2
1
Done!

#If loop: 조건문 같은거임
조건이 True일때 실행됨

In [156]:
age = 18

if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

In [157]:
yourage = input()
yourage = int(yourage)

if yourage >= 20:
  print("Since you are 20 years old or older, you can enter our club.")
elif yourage >=80:
  print("Since you are 30 years old or older cannot enter our club.")
elif yourage < 20:
  print("Since you are younger than 20, you are not allowed to enter our club")

15
Since you are younger than 20, you are not allowed to enter our club

# Toknize(단어나 문장 단위로 분리)
Sent_tokenize는 문장
word_tokenize는 단어

In [160]:
example_string = "My name is Sarah. I live in a big city. I like to read books and play with my cat."

In [169]:
import nltk
nltk.download('punkt')
from nltk.tokenize import sent_tokenize, word_tokenize  # 설치 파일

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [168]:
slist = sent_tokenize(example_string)
slist[0]

'My name is Sarah.'

In [172]:
mywords = word_tokenize(example_string)
print(len(mywords))
mywords[10]

23

'city'

In [182]:
w1 = "Mary"
w2 = "susan"
w1.casefold()  # lower이랑 똑같

'mary'

#Stop words 삭제

In [183]:
# Remove punctuations and stopwords (구두점이랑 불용어 is in an 등 쓸모 없는거 삭제)

filtered_list = []

for word in s1:
   if (word.casefold() not in stop_words) & (len(word)>1):
        filtered_list.append(word)

filtered_list

['Sir', 'protest', 'merry', 'man']