<a href="https://colab.research.google.com/github/jonguk130/dl23/blob/main/Dl_wo7b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Strings: A string is a sequence of characters enclosed in single or double quotes. Examples: "Hello, world!" or 'Python is great!'


Integers: Integers are whole numbers, positive or negative, without any decimal points. Examples: 42, -5, 0

In [15]:
greeting= "Hello students!"
year =2023

In [16]:
print(greeting)
print(year)

Hello students!
2023

In [18]:
message = greeting + str(year)
print(message)

Hello students!2023

In [19]:
num1 = 10
num2=  3

print(num1+num2)

13

In [20]:
print(num1-num2)

7

In [21]:
user_string = input("Enter a string")
user_number = int(input("Enter a number"))
print(user_string* user_number)

Enter a string바보야
Enter a number5
바보야바보야바보야바보야바보야

In [1]:
sentence = "Coding is fun and easy to learn"
word_list = sentence.split()
print(word_list)

['Coding', 'is', 'fun', 'and', 'easy', 'to', 'learn']

In [3]:
text = "coding is Exciting"
uppercase_text = text.upper()
lowercase_text = text.lower()
print("uppercase_text",uppercase_text)
print("lowercase_text",lowercase_text)

uppercase_text CODING IS EXCITING
lowercase_text coding is exciting

In [7]:
text=" Hello , world!"
print("First charcter",text[0])
print("Last character", text[-1]) 
print("First 5 characters", text[5])
print("characters from position 5 to end", text[5:])
print("Reverse order", text[::-1])

First charcter
Last character !
First 5 characters o
characters from position 5 to end o , world!
Reverse order !dlrow , olleH